/* Thanh tìm kiếm */
.box {
    max-width: 400px;
    width: 100%;
    margin-top: 10px;
}

.box .search-box {

    position: relative;
    height: 40px;
    max-width: 380px;
    margin: auto;
    border-radius: 25px;
}

.search-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    padding-left: 20px;
    font-size: 14px;
}

.search-box .icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    text-align: center;
    line-height: 40px;
    border-radius: 0 25px 25px 0;
}

/* Giỏ hàng */
.giohang {
    margin-top: 10px;
    text-align: right;
    line-height: 35px;
    color: #eeeeee;
}

.giohang a {
    color: yellow;
}

.giohang a:hover {
    color: #eeeeee;
}

/* Nút chuyển trang */
.nut {
    text-align: center;
}

.nut button {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: black;
    border: none;
    border: 2px solid black;
}

.nut button:hover {
    background-color: gold;
    border: 2px solid gold;
    color: #eeeeee;
}

a {
    color: yellow;
}

footer {
    margin-top: 20px;
}

/* Trang Login */
.formvalidate {
    width: 600px;
    height: 300px;
    margin-left: 40px;
}

.formvalidate .form {
    margin-top: 20px;
    padding-top: 20px;
}

.formvalidate .form .form1 {
    width: 560px;
    margin-left: 20px;
    font-weight: 500;
}

.formvalidate .form .form1 a {
    text-decoration: none;
    color: #333333;
    font-weight: 400;
}

.formvalidate .form .form1 a:hover {
    color: black;
}

/* Nút nhấn từ cuối web lên đầu web */
.arrow {
    position: fixed;
    right: 17px;
    bottom: 10px;
    
    
    text-align: center;
}

.arrow button {
    border: solid 1px #555555;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.arrow button a {
    color: #555555;
}

.arrow button:hover {
    background-color: gold;
    border: 2px solid gold;
    color: #eeeeee;
}